.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbotron{
    background-image: url(https://image.shutterstock.com/image-photo/weather-forecast-concept-climate-change-260nw-1390294940.jpg);  
    background-size: 100%;
    text-align: center;
    font: fancy;
    height: 2rem;
}
h1{
    text-align: center;
    color: aliceblue;
}
.flexbox-container{
    display: flex;
    
}
.input{
     
    margin-left: 12rem;
    flex-direction: row;
    
}

.searchSentence {
    margin-bottom: 0rem;
}

.button{
    margin-left: 0rem;
     
}
.mainDisplay{   
    border-style: double;
    width: 45rem;
    height: 20rem;
    margin-left: 150px;
     
    
}

.name{
    font-size: 3rem;
    font-weight: bold;
    color: rgb(4, 4, 228);
}


.list-group{
    width: 14rem;
    height: 50rem;
    flex-direction: column;
     
}

.name, .displayMoment,.temp, .clouds, .desc,.humid,.wind{
    margin-bottom: 0rem;
    margin-top: 0rem;
    padding-left: 1rem;
}

.flexbox-container2 {
    display: ruby;
}
.list-group-item{
    height: 50px; 
    padding: 10px 15px;
   
    
}

.fiveDay{
    display: inline-block;
     
}

.card-deck{
    height: 5rem;
    width: 60rem;
    margin-left: 245px;
    margin-top: 4rem;
    margin-right: 2rem;
}